.Table
{
    display:table;
    width:600px;
    border-style:solid;
    border-color:black;
}

.Row
{
    display:table-row;
    height:27px;
}

.Row_Eng
{
    display:table_row;
    height:80px;
}

.Cell_Eng
{
    display:table-cell;
    text-align:left;
}

.Cell_1
{
    display:table-cell;
    width:300px;
    border-style:solid;
    border-width:1px;
    text-align:left;
}

.Cell_cent_1
{
    display:table-cell;
    width:300px;
    border-style:solid;
    border-width:1px;
    text-align:center;
}

.Cell
{
    display:table-cell;
    border-style:solid;
    border-width:1px;
    text-align:left;
}

.Cell_2
{
    display:table-cell;
    width:200px;
    border-style:solid;
    border-width:1px;
    text-align:left;
}

.Cell_cent
{
    display:table-cell;
    border-style:solid;
    border-width:1px;
    text-align:center;
}

.Cell_cent_2
{
    display:table-cell;
    width:65px;
    border-style:solid;
    border-width:1px;
    text-align:center;
}

.Cell_right
{
    display:table-cell;
    width:150px;
    border-style:solid;
    border-width:1px;
    text-align:right;
}

.Cell_last
{
    display:table-cell;
    width:150px;
    border-style:solid;
    border-width:1px;
    text-align:center;
}